/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// VARIABLES /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* -------------------------------------------------------------------- COLOR --- */

// $blue: #342679;
$blue: #005a9a;
$orange: #f28a1a;
$inky: #303030;

/* -------------------------------------------------------------------- BREAKS --- */

$breakpoint1: 1380px;
$breakpoint2: 800px;
$breakpoint3: 600px;
$breakpoint4: 400px;
$breakpoint5: 350px;
