/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// HELP /// */
/* //////////////////////////////////////////////////////////////////////////////// */

section.help {
    @include background();
    position: relative;
    background-color: rgba($orange, 1);
    padding-bottom: 32px;;
}