/* -------------------------------------------------------------------- PICTURE --- */
picture {
	width: 50%;
}

picture img {
	width: 100%;
}

@media (max-width: $breakpoint3) {
	picture { 
		width: 100%;
		margin: 32px 0;
	}
}